<%= form_for :post, url: posts_path(@post), method: :path do|f| %>
	<% if @post.errors.any? %>
 	 	<div id="error_explanation">
 	 	  <h2><%= pluralize(@post.errors.count, "error") %> prohibited
     	 this post from being saved:</h2>
			<ul>
	
			<% @post.errors.full_messages.each do |msg| %>
    		  <li><%= msg %></li>
    		<% end %>
   			</ul>
  		</div>
  <% end %>
	<%= f.label :title %><br>
	<%= f.text_field :title %>

	<%= f.label :text %><br>
	<%= f.text_area :text %>

	<%= f.label :like %><br>
	<%= f.text_field :like %>
	<%= f.submit %>
<% end %>
<%= link_to 'BACK', post_path %>